@page "/pages/{*path}"
@using Wherlog.Models
@using Wherlog.Models.Page
@inject IStringLocalizer<PagesPage> Loc
@inject NavigationManager Navigation

@if (pageModel == null)
{
    <ContentsView>
        <PageHeader Title="@Loc["TitleText"]" />
        @if (HasPath)
        {
            <FluentProgressRing />
        }
        else if (pages != null)
        {
            <FluentStack Orientation="Orientation.Vertical">
                @foreach (PageModel model in pages)
                {
                    <FluentCard Class="clickable-card"
                                MinimalStyle="true"
                                @onclick="() => OnClick(model.Url)"
                                Style="cursor: pointer;">
                        <div lang="@model.Language">
                            <h4>@model.Title</h4>
                            @if (!string.IsNullOrEmpty(model.Description))
                            {
                                <br />
                                <span>@model.Description</span>
                            }
                        </div>
                    </FluentCard>
                }
            </FluentStack>
        }
    </ContentsView>
}
else
{
    <PageTitle>@pageModel.Title</PageTitle>
    <PostDetailCard Post="pageModel" />
    @if (Path == "api")
    {
        <style>
            hgroup.main {
                display: unset;
            }
        </style>
    }
}

@code
{
    private RequestHelper request = RequestHelper.Default;
    private PageDetailModel pageModel;
    private PagesModel pages;

    private bool HasPath => !string.IsNullOrEmpty(Path);

    [Parameter]
    public string Path { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        pages ??= await request.GetPagesAsync().GetResults();

        pageModel = null;
        if (HasPath)
        {
            if (Array.Find(pages, x => x.Url.Replace("/index.html", string.Empty).TrimStart('/').Contains(Path)) is PageModel page)
            {
                pageModel = await request.GetAsync(page.Api, SourceGenerationContext.Default.EntryPageDetailModel).GetResults();
            }
            else
            {
                Navigation.NavigateTo("pages");
            }
        }
    }

    private void OnClick(string path) => Navigation.NavigateTo($"pages/{path.Replace("/index.html", string.Empty).TrimStart('/')}");
}
