<div class="page-header">
    <div>
        <PageTitle>@Title</PageTitle>
        @if (!string.IsNullOrEmpty(Description))
        {
            <PageDescription Content="@Description" />
            <h1 title="@Description">@Title</h1>
        }
        else
        {
            <h1>@Title</h1>
        }
    </div>
    @CustomContent
</div>

@code
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public RenderFragment CustomContent { get; set; }
}
