@inherits FluentComponentBase

<div class="@ClassValue" style="@Style">
    <FluentAccordion>
        <FluentAccordionItem ChildContent="@Content">
            <HeadingTemplate>
                <SettingsPresenter
                    Icon="@Icon"
                    Header="@Header"
                    Description="@Description"
                    ActionContent="@ActionContent" />
            </HeadingTemplate>
        </FluentAccordionItem>
    </FluentAccordion>
</div>
