@using Microsoft.FluentUI.AspNetCore.Components.Utilities
@inherits SettingsCardBase

<div class="@ClassValue" style="@Style">
    <FluentAccordion>
        <FluentAccordionItem Class="expander-item" ChildContent="@ChildContent">
            <HeadingTemplate>
                <SettingsPresenter Icon="@Icon"
                                   Header="@Header"
                                   Description="@Description"
                                   ActionContent="@ActionContent" />
            </HeadingTemplate>
        </FluentAccordionItem>
    </FluentAccordion>
</div>

@code
{
    protected override string ClassValue => new CssBuilder(Class)
        .AddClass("settings-expander")
        .Build();

    /// <summary>
    /// Gets or sets the content of a ContentControl.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
