@inherits SettingsCardBase

<div class="@ClassValue" style="@Style">
    <FluentCard onclick="@OnClick"
                Class="fluent-card clickable-card"
                AreaRestricted="false"
                MinimalStyle="true">
        <div class="content-grid">
            <SettingsPresenter Icon="@Icon"
                               Header="@Header"
                               Description="@Description"
                               ActionContent="@ActionContent" />
            @if (ActionIcon != null)
            {
                <div class="action-icon-holder">
                    @ActionIcon
                </div>
            }
        </div>
    </FluentCard>
</div>
