@inherits FluentComponentBase

<div class="@ClassValue" style="@Style">
    <FluentCard AreaRestricted="false" Style="padding: var(--settings-card-padding);">
        <SettingsPresenter
            Icon="@Icon"
            Header="@Header"
            Description="@Description"
            ActionContent="@ActionContent"
            ActionIcon="@ActionIcon"
            ActionIconToolTip="@ActionIconToolTip"/>
    </FluentCard>
</div>
