@page "/tools"
@inject IStringLocalizer<ToolsPage> Loc
@inject NavigationManager Navigation

<TableContentsView>
    <PageHeader Title="@Loc["TitleText"]" />

    <FluentStack Orientation="Orientation.Vertical">
        <SettingsGroup>
            <SettingsButton OnClick="@(() => Navigation.NavigateTo("tools/datetime"))">
                <Icon>
                    <FluentIcon Value="new Icons.Regular.Size20.CalendarDate()" />
                </Icon>
                <Header>
                    <h3 id="convert-timestamp" class="unset">@Loc["DateTimeSettingsHeader"]</h3>
                </Header>
                <Description>
                    @Loc["DateTimeSettingsDescription"]
                </Description>
                <ActionIcon>
                    <FluentIcon Value="new Icons.Regular.Size12.ChevronRight()" Color="Color.FillInverse" />
                </ActionIcon>
            </SettingsButton>

            <SettingsButton OnClick="@(() => Navigation.NavigateTo("tools/encoding"))">
                <Icon>
                    <FluentIcon Value="new Icons.Regular.Size20.CodeText()" />
                </Icon>
                <Header>
                    <h3 id="convert-encoding" class="unset">@Loc["EncodingSettingsHeader"]</h3>
                </Header>
                <Description>
                    @Loc["EncodingSettingsDescription"]
                </Description>
                <ActionIcon>
                    <FluentIcon Value="new Icons.Regular.Size12.ChevronRight()" Color="Color.FillInverse" />
                </ActionIcon>
            </SettingsButton>

            <SettingsButton OnClick="@(() => Navigation.NavigateTo("tools/bilibili-card"))">
                <Icon>
                    <FluentIcon Value="new Icons.Regular.Size20.Video()" />
                </Icon>
                <Header>
                    <h3 id="render-bilibili-card" class="unset">@Loc["BiliBiliCardSettingsHeader"]</h3>
                </Header>
                <Description>
                    @(new MarkupString(Loc["BiliBiliCardSettingsDescription"]))
                </Description>
                <ActionIcon>
                    <FluentIcon Value="new Icons.Regular.Size12.ChevronRight()" Color="Color.FillInverse" />
                </ActionIcon>
            </SettingsButton>
        </SettingsGroup>
    </FluentStack>
</TableContentsView>