﻿<div class="navmenu">
    <input
        type="checkbox"
        title="Menu expand/collapse toggle"
        id="navmenu-toggle"
        class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" />
    </label>
    <nav
        class="sitenav"
        aria-labelledby="main-menu"
        onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu
            Id="main-menu"
            Width="250"
            Collapsible="true"
            Title="Navigation menu"
            @bind-Expanded="expanded">
            <FluentNavLink
                Href="./"
                Match="NavLinkMatch.All"
                Icon="@(new Icons.Regular.Size20.Home())"
                IconColor="Color.Accent">
                Home
            </FluentNavLink>
            <FluentNavLink
                Href="tags"
                Match="NavLinkMatch.Prefix"
                Icon="@(new Icons.Regular.Size20.Tag())"
                IconColor="Color.Accent">
                Tag
            </FluentNavLink>
            <FluentNavLink
                Href="categories"
                Match="NavLinkMatch.Prefix"
                Icon="@(new Icons.Regular.Size20.Grid())"
                IconColor="Color.Accent">
                Category
            </FluentNavLink>
            <FluentNavLink
                Href="archives"
                Match="NavLinkMatch.Prefix"
                Icon="@(new Icons.Regular.Size20.Archive())"
                IconColor="Color.Accent">
                Archive
            </FluentNavLink>
            <FluentNavLink
                Href="settings"
                Match="NavLinkMatch.Prefix"
                Icon="@(new Icons.Regular.Size20.Settings())"
                IconColor="Color.Accent">
                Settings
            </FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code
{
    private bool expanded = true;
}
