@inject IStringLocalizer<App> Loc

<div class="app-root">
    <script src="App.razor.js"></script>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>@Loc["NotFoundTitle"]</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">@Loc["NotFoundDescription"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</div>
